.header{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CCCC00;
}
.h-div{
height:250px;
width:1000px;
}
.logo{
float:left;
}
.name{
height:250px;
width:700px;
float:right;
}
.na{
font-size:40px;
top:120px;
left:250px;
font-weight:bolder;
font-style:italic;
position:relative;
color:#FF0000;
}
.menu-bar{
height:50px;
width:1000px;
float:left;
background-color:#CC9966;
}
.menu-bar ul li{
display:inline;
padding:50px;
list-style:none;
}
.menu-bar ul a{
text-decoration:none;
color:#CC0000;
font-size:24px;
}
.menu-bar ul li:hover{
background-color:#FFFF66;
border-radius:3px;
width:25px;
height:25px;
}
.footer
{
width:1000px;
height:100px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
}
.copyright
{
text-align:center;
font-size:18px;
font-style:italic;
}
.home{
width:1000px;
height:600px;
margin-left:auto;
margin-right:auto;
}
.about{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#000000;
}
.img1{
float:left;
}
.img2{
float:left;
}
.img3{
float:right;
}
.img4{
float:left;
}
.img5{
float:left;
}
.img6{
float:right;
}
.services{
width:1000px;
height:600px;
margin-left:auto;
margin-right:auto;
background-color:#CCCCCC;

}
.tab1{
background-color:#FFFFFF; 
color:#CC6600; 
text-align:center; 
height:600px;
width:500px;
position:relative;
}
.tab1{
border-color:#FF0000;
border-collapse:collapse;
}
.contact{
margin-left:auto;
margin-right:auto;
width:1000px;
height:600px;
}
.map{
float:left;
background-color:#CCCCCC;
}
.address{
float:left;
width:500px;
height:300px;
background-color:#0033CC;
}
.contact1{
float:right;
width:500px;
height:300px;
background-color:#33FFFF;
}
.register{
margin-left:auto;
margin-right:auto;
height:600px;
width:1000px;
}
.tab2{
background-color:#666666;
color:#FFFFFF;
width:1000px;
height:600px;
}




